
%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th.title Title
      %th Description
      %th Max Volunteers
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.title, event_path(event)
        %td= event.description
        %td= event.max_volunteers
    - if @events.length == 0
      %h4 No events found. Try less specific search terms.
