
%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th.title Title
      %th Description
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.title, event_path(event)
        %td= event.description
