/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all

 */
//@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css");

.about-page, .contact-page{
 font-size: 14px;
 color: #5d5d5d;
 text-align:center;
}


.ftcontent{
  padding-left:40px;
  padding-right:40px;
}
body {
    padding-bottom:200px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #CEE7FD));
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #CEE7FD 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #CEE7FD 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #CEE7FD 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #CEE7FD 100%);

 }

#flash_notice, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}
#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}
#flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

.popups {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #93C3ED;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

th.title {
  width: 15%;
}

#eventTable {
  background-color: white;
}

li.search-bar {
  padding-top: 4px;
}

// TODO hacky solution to prevent hover from overlapping border
.top-bar {
  padding-bottom: 50px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
