.about-page
  %p Forward Tutoring is a 501(c)(3) nonprofit organization that empowers students to pay     forward online tutoring with community service.
  %br
  %p
    %b
      %u Our Story
  %p Powerless, we watched our siblings and classmates struggle helplessly with homework, not to mention exams. They couldn't afford the tutoring. So C's displaced B's. D's displaced C's. And F's displaced not only marks on their transcript but also their belief that they could succeed in school--that they were smart. As we saw their discouragement grow, we realized that there must be a better way for students to get help in school. A way that’s convenient, reliable, AND free. So we asked: instead of paying back the tutoring with money, why not pay it forward with volunteer service?
  %br
  %p
    In the summer of 2011, before our last year of high school, we teamed up--all seven of us--and we said enough is enough.
    Models for accessing quality, one-on-one online tutoring, finding service opportunities, and recruiting volunteers must change.
    And so Forward Tutoring was born, in idea and in execution.
  %br
  %p

    That year, at the Texas Academy of Mathematics and Science and the University of North Texas, we found developers, mentors, and supporters.
    Since then, we’ve grown our team over threefold, created a system we’re really proud of, and even won some awards in the process.
    We’ve learned to serve and served to learn. We’re originally from Dallas, Texas, but we’ve realized that we can’t stop here.
  %br
  %p
    Our goal is to establish college chapters nationwide, engaging communities everywhere on the ground level.
    No organization should be left without volunteers, and no student should struggle helplessly in school again.
  %br

  %p
    %b - The Forward Tutoring Team: Arham Jain, Chris Talley, Danial Asif, Ken Szubzda, Malika Rajvanshy, Manisha Eerabathini
