.contact-page
  %p
    Our main site is found here at
    %a{href: "http://www.forwardtutoring.org"} www.forwardtutoring.org
  %br
  %p
    %u
      Questions about volunteer hours or a volunteer opportunity?
      submithours@forwardtutoring.org can answer your questions.
      To submit hours: send
      %a{href: "http://www.forwardtutoring.org/sites/default/files/FT%20Volunteer%20Guidelines.pdf"} http://www.forwardtutoring.org/sites/default/files/FT%20Volunteer%20Guidelines.pdf with your username to submithours@forwardtutoring.org
  %br
  %p
    %u
      Questions about Forward Tutoring and signing up to become a student?
  %p
    By Phone: 1(888) 670-2276
  %p
    By Email: contact@forwardtutoring.org
  %br
  %p
    By Mail:
  %p  Texas: PO Box 117495,Carrollton, Texas 75011-7495
  %p  Connecticut: 206 Elm St. #207051, New Haven, CT 06520-7051
  %br
  %p
    Contact us through Facebook, Twitter and like
    %a{href: "www.facebook.com/forwardtutoring"} www.facebook.com/forwardtutoring
    twitter: @forwardtutoring
    Google+: forwardtutoring
