.contact-page
  %div#infoText
    %h1 Contact Us
    %p
      Our main site is found here at
      %a{href: "http://www.forwardtutoring.org"} www.forwardtutoring.org
    %br
    %p
      %u Questions about volunteer hours or a volunteer opportunity?
      %br
      %a{href: "mailto:submithours@forwardtutoring.org"} submithours@forwardtutoring.org
      can answer your questions.
    %br
    %p
      %u To submit hours:
      %br
      Send
      %a{href: "http://www.forwardtutoring.org/sites/default/files/FT%20Volunteer%20Guidelines.pdf"} this pdf
      with your username to
      %a{href: "mailto:submithours@forwardtutoring.org"} submithours@forwardtutoring.org
    %br
    %p
      %u
        Questions about Forward Tutoring and signing up to become a student?
    %p
      By Phone: 1(888) 670-2276
    %p
      By Email:
      %a{href: "mailto:contact@forwardtutoring.org"} contact@forwardtutoring.org
    %p
      By Mail:
    %i Texas:
    PO Box 117495,Carrollton, Texas 75011-7495
    %br
    %i  Connecticut:
    206 Elm St. #207051, New Haven, CT 06520-7051
    %br
    %br
    %p
      Contact us through Twitter and like us on
      %a{href: "http://www.facebook.com/forwardtutoring"} Facebook!
      %br
      twitter: @forwardtutoring
      %br
      Google+: forwardtutoring
